@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  background: #bfbfbf;
  position: relative;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
}

.seperator {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background: #fff;
}

.toggle {
  cursor: pointer;
  position: relative;
  width: 34px;
  height: 22px;
  border: 2px solid #bfbfbf;
  background: white;
  border-radius: 16px;
  -webkit-transition: border .25s ease-in-out;
  transition: border .25s ease-in-out;
}

.toggle .knob {
  position: absolute;
  left: 2px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 14px;
  height: 14px;
  border-radius: 8px;
  background: #ff9330;
  -webkit-transition: left .25s ease-in-out, background .25s ease-in-out;
  transition: left .25s ease-in-out, background .25s ease-in-out;
}

.toggle:hover {
  border: 2px solid #969696;
}

.toggle:hover .knob {
  left: 14px;
  background: #000;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  outline: 1px solid #cecece;
}

.wrapper nav {
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  top: -1px;
  background: #bfbfbf;
}

.wrapper nav .header {
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-weight: 700;
  border-bottom: 1px solid #cecece;
}

.wrapper nav .header .pageTitle {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrapper nav .header .pageTitle .projectTitle {
  block-size: -webkit-fit-content;
  block-size: -moz-fit-content;
  block-size: fit-content;
}

.wrapper nav .header .pageTitle .projectTitle, .wrapper nav .header .pageTitle .country {
  margin-right: 4px;
}

.wrapper nav .header .filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper nav .header .filter .seperator, .wrapper nav .header .filter .currentFilter, .wrapper nav .header .filter .toggle {
  display: inline-block;
  margin-left: 4px;
}

.wrapper nav .details {
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #cecece;
}

.wrapper nav .details .content span {
  display: block;
}

.wrapper nav .details .content.left {
  padding-right: 24px;
}

@media screen and (max-width: 650px) {
  .wrapper nav .details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper nav .details .content.left {
    padding-bottom: 16px;
  }
}

.wrapper .countries {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(240px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: 160px;
  outline: 1px solid #cecece;
}

.wrapper .countries .country {
  cursor: pointer;
  background: #bfbfbf;
  outline: 1px solid #cecece;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .countries .country .graph {
  overflow: hidden;
  background: rgba(255, 255, 255, 0.2);
  width: 80px;
  height: 80px;
  border-radius: 40px;
}

.wrapper .countries .country .graph .progress {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-filter: blur(14px);
          filter: blur(14px);
  background: #ff9330;
}

.wrapper .countries .country .label {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .countries .country .label .wrapperCounter {
  color: rgba(255, 255, 255, 0.64);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .countries .country:hover {
  background: #cfcfcf;
}

.wrapper footer {
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
