@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500;700&display=swap');

:root{
    //FONT
    --fw_medium: 500;
    --fw_bold: 700;
    --fc_headings: #fff;
    --fc_captions: rgba(255,255,255,.64);
    //UI
    --divider: rgba(255,255,255,.16);
    --hover: rgba(255,255,255,.12);
    //CASES
    --cases_new: #fff730;
    --cases_active: #ff9330;
    --cases_critical: #ff4930;
    --cases_recovered: #7fff30;
}

*{
    box-sizing: border-box;
    margin: 0;
}

@mixin setProgressInd {
    .graph{
        overflow: hidden;
        $dimensions: 80px;
        background: var(--bounds_pg);
        width: $dimensions;
        height: $dimensions;
        border-radius: $dimensions/2;
        .progress{
            width: $dimensions;
            height: $dimensions;
            border-radius: $dimensions/2;
            transform: scale(.5);
            filter: blur(14px);
            background: var(--primary);
        }
    }
}

body{
    height: 100vh;
    background: var(--bg);
    position: relative;
    font: {
        family: 'IBM Plex Mono', monospace;
        weight: var(--fw_medium);
        size: 14px;
    }
    color: var(--fc_headings);
    &.light{
        //HEADER
        --fc_header: var(--fc_headings);
        --div_header: var(--divider);
        --c_caret: brightness(1);
        //UI
        --primary: #ff9330;
        --bg: #bfbfbf;
        --bounds_pg: rgba(255,255,255,.2);
        //CASES
        --cases-total: var(--bounds_pg);
        //DEATHS
        --deaths_new: #fff;
        --deaths_total: #000;
    }
    &.dark{
        //HEADER
        --fc_header: #000;
        --div_header: rgba(0,0,0,.08);
        --c_caret: brightness(0);
        //UI
        --primary: #fff;
        --bg: #1d1d1d;
        --bounds_pg: var(--bg);
        //CASES
        --cases_total: rgba(255,255,255,.32);
        //DEATHS
        --deaths_new: #fff;
        --deaths_total: #fff;
    }
}

.seperator{
    $dimensions: 6px;
    width: $dimensions;
    height: $dimensions;
    border-radius: $dimensions/2;
    background: var(--fc_headings);
}

.toggle{
    cursor: pointer;
    position: relative;
    width: 34px;
    height: 22px;
    border: 2px solid var(--primary);
    background: white;
    border-radius: 16px;
    transition: border .25s ease-in-out;
    .knob{
        position: absolute;
        left: 2px;
        top: 50%;
        transform: translateY(-50%);
        width: 14px;
        height: 14px;
        border-radius: 8px;
        background: var(--primary);
        transition: left .25s ease-in-out, background .25s ease-in-out;
    }
    &.active{
        border: 2px solid #969696;
        .knob{
            left: 14px;
            background: #000;
        }
    }
}

.wrapper{
    max-width: 1440px;
    margin: 0 auto;
    outline: 1px solid var(--divider);
    nav{
        &.toggled{
            background-image: linear-gradient(to right, rgba(0,0,0,0),rgba(0,0,0,0.2));
        }
        
        position: sticky;
        z-index: 2;
        top: -1px;
        color: var(--fc_header);
        background: var(--primary);
        .header{
            position: relative;
            padding: 16px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            font-weight: var(--fw_bold);
            border-bottom: 1px solid var(--div_header);
            .pageTitle{
                &.cf{
                    margin-top: 2px;
                }
                width: 50%;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                .projectTitle{
                    block-size: fit-content;
                }
                img[alt="caret"]{
                    filter: var(--c_caret);
                }
                .toggleDetails{
                    cursor: pointer;
                    transform: rotate(0deg);
                    transition: transform .5s;
                }
                .projectTitle,.country,img{
                    margin-right: 2px;
                }
            }
            .filter{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                .seperator,.currentFilter,.toggle{
                    display: inline-block;
                    margin-left: 4px;
                }
                .toggleFilter{
                    cursor: pointer;
                    transform: rotate(0deg);
                    transition: transform .5s;
                }
            }
            .filterPanel{
                display: none;
                position: absolute;
                flex-direction: column;
                right: 0px;
                top: 50px;
                width: 98px;
                background: var(--primary);
                .filterItem{
                    cursor: pointer;
                    border-top: 1px solid var(--divider);
                    padding: 16px;
                }
            }
        }
        .details{
            padding: 16px;
            display: none;
            .content{
                span{
                    display: block;
                }
                &.left{
                    padding-right: 24px;
                }
            }
        }
        .deaths{
            overflow: scroll;
            display: none;
            align-items: center;
            .childDeaths{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 16px 40px;
                .graph{
                    //overflow: hidden;
                    margin: 72px 0;
                    $dimensions: 80px;
                    width: $dimensions;
                    height: $dimensions;
                    border-radius: $dimensions/2;
                    .progress{
                        width: $dimensions;
                        height: $dimensions;
                        border-radius: $dimensions/2;
                        transform: scale(1);
                        filter: blur(14px);
                        background: black;
                    }

                }
                .label{
                    .counter{
                        font-weight: var(--fw_bold);
                    }
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                }

            }
        }

        @media screen and (max-width: 650px) {
            .details {
                flex-direction: column;
                .content.left{
                    padding-bottom: 16px;
                }
            }
        }
    }
    .countries{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
        grid-auto-rows: min-content;
        outline: 1px solid var(--divider);
        .divider{
            outline: 1px solid var(--divider);
            background:var(--bg);
            padding: 16px;
            grid-column: 1 / -1;
        }
        .country{
            text-decoration: none;
            color: white;
            padding: 24px;
            cursor: pointer;
            background: var(--bg);
            outline: 1px solid var(--divider);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @include setProgressInd;
            .label{
                margin-top: 8px;
                display: flex;
                flex-direction: column;
                align-items: center;
                .wrapperCounter{
                    color: var(--fc_captions);
                    display: flex;
                }
            }
            &:hover{
                background: var(--hover);
            }
        }
    }


    .history{
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        .titleBar{
            display: flex;
            //justify-content: flex-start;
            overflow-y: scroll;
            border-bottom: 1px solid var(--divider);
            .container{
                min-width: 750px;
                display: flex;
                align-items:center;
                justify-content: flex-start;
                flex-grow: 1;
                background: var(--bg);
                color: var(--fc_headings);
                .t_cases{
                    padding: 16px;
                    display: flex;
                    flex-grow: 5;
                    align-items: center;
                    justify-content: space-between;
                    border-right: 1px solid var(--divider);
                }
                .t_deaths{
                    flex-grow: 1;
                    display: flex;
                    padding: 16px;
                    justify-content: space-between;
                }
            }
        }
        .day{
            min-width: 750px;
            display: flex;
            align-items:center;
            justify-content: flex-start;
            flex-grow: 1;
            border-bottom: 1px solid var(--divider);
            .cases{
                flex-grow: 4;
                display: flex;
                border-right: 1px solid var(--divider);
                .case_item{
                    padding: 16px 24px;
                    display: flex;
                    flex-grow: 1;
                    flex-direction: column;
                    align-items: center;
                    @include setProgressInd;
                    .counter{
                        margin-top: 8px;
                    }
                }
            }
            .deaths{
                flex-grow: 1;
                display: flex;
                .death_item{
                    padding: 16px 24px;
                    display: flex;
                    flex-grow: 1;
                    flex-direction: column;
                    align-items: center;
                    @include setProgressInd;
                    .counter{
                        margin-top: 8px;
                    }

                }

            }
        }
    }

    footer{
        padding: 16px;
        display: flex;
        justify-content: space-between;
    }

}

