@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500;700&display=swap');

//FONT
$fw_medium: 500;
$fw_bold: 700;
$fc_headings: #fff;
$fc_captions: rgba(255,255,255,.64);
//UI
$primary: #ff9330;
$bg: #bfbfbf;
$divider: #cecece;
$bounds_pg: rgba(255,255,255,.2);
$hover: #cfcfcf;
//STATE-CASES
$cases_new: #fff730;
$cases_active: $primary;
$cases_critical: #ff4930;
$cases_recovered: #7fff30;
$cases_total: $bounds_pg;
//STATE-DEATHS
$deaths_new: #fff;
$deaths_total: #000;

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    height: 100vh;
    background: $bg;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font: {
        family: 'IBM Plex Mono', monospace;
        weight: $fw_medium;
        size: 14px;
    }
    color: $fc_headings;
}

.seperator{
    $dimensions: 6px;
    width: $dimensions;
    height: $dimensions;
    border-radius: $dimensions/2;
    background: $fc_headings;
    margin-bottom: 2px;
}

.wrapper{
    max-width: 1024px;
    nav{
        position: sticky;
        z-index: 2;
        top: -1px;
        background: $bg;
        .header{
            padding: 16px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            font-weight: $fw_bold;
            border-bottom: 1px solid $divider;
            .pageTitle{
                width: 50%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-wrap: wrap;
                .projectTitle{
                    block-size: fit-content;
                }
            }
            .filter{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                .currentDate,.seperator,.currentFilter{
                    display: inline-block;
                    margin-left: 4px;
                }
            }
        }
        .details{
            padding: 16px;
            display: flex;
            border-bottom: 1px solid $divider;
            .content{
                span{
                    display: block;
                }
                &.left{
                    padding-right: 24px;
                }
            }
        }

        @media screen and (max-width: 650px) {
            .details {
                flex-direction: column;
                .content.left{
                    padding-bottom: 16px;
                }
            }
        }
    }
    .countries{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
        grid-auto-rows: 160px;
        .country{
            background: $bg;
            outline: 1px solid $divider;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            .graph{
                overflow: hidden;
                $dimensions: 80px;
                background: $bounds_pg;
                width: $dimensions;
                height: $dimensions;
                border-radius: $dimensions/2;
                .progress{
                    width: $dimensions;
                    height: $dimensions;
                    border-radius: $dimensions/2;
                    transform: scale(.5);
                    filter: blur(14px);
                    background: $primary;
                }
            }
            .label{
                margin-top: 8px;
                display: flex;
                flex-direction: column;
                align-items: center;
                .wrapperCounter{
                    color: $fc_captions;
                    display: flex;
                }
            }
            &:hover{
                background: $hover;
            }
        }
    }
    footer{
        padding: 16px;
        display: flex;
        justify-content: space-between;
        box-shadow: inset 0 1px 0 #ddd;

    }

}
